{% extends "base.html" %}

{% block base_content %}
<div class="container">
<h1>Предстоящие события</h1>

    <div class="container">
    {% if open_bets %}
        <table class="table table-striped table-bordered table-condensed table-responsive" id=openBets>
            <thead>
                <tr>
                    <th>Матч</th>
                    <th>Победа Хозяев</th>
                    <th>Ничья</th>
                    <th>Победа Гостей</th>
                    <th>Дата матча</th>
                </tr>
            </thead>
            <tbody>
                {% for bet in open_bets %}
                    <tr>

                    <td>{{ bet.match }}</td>
                    <td>{{ bet.ods_home }}
                    <div class="acceptBetButton" style="padding:10px 10px 0px 0px">
                                <a href="#"
                                    data-target="#acceptBet" data-toggle="modal"
                                    data-id1="{{ bet.match }}"
                                    data-id2="{{ bet.user.get_full_name }}"
                                    data-id3="{{ bet.ods_home }}"
                                    data-id4="{{ bet.id }}"
                                    title="home"
                                    class="btn btn-success btn-sm open-AcceptBet">Поставить</a>
                            </div>
                    </td>
                    <td>{{ bet.ods_tie }}
                        <div class="acceptBetButton" style="padding:10px 10px 0px 0px">
                                <a href="#" 
                                    data-target="#acceptBet" data-toggle="modal"
                                    data-id1="{{ bet.match }}"
                                    data-id2="{{ bet.user.get_full_name }}"
                                    data-id3="{{ bet.ods_tie }}"
                                    data-id4="{{ bet.id }}"
                                    title="tie"
                                    class="btn btn-success btn-sm open-AcceptBet">Поставить</a>
                            </div>
                    </td>
                    <td>{{ bet.ods_away }}
                        <div class="acceptBetButton" style="padding:10px 10px 0px 0px">
                                <a href="#" 
                                    data-target="#acceptBet" data-toggle="modal"
                                    data-id1="{{ bet.match }}"
                                    data-id2="{{ bet.user.get_full_name }}"
                                    data-id3="{{ bet.ods_away }}"
                                    data-id4="{{ bet.id }}"
                                    title="away"
                                    class="btn btn-success btn-sm open-AcceptBet">Поставить</a>
                            </div>
                    </td>
                    <td>{{ bet.end_date}}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Пока здесь нет событий на которые можено сделать ставку.</p>
        {% endif %}
    </div>

</div>

<!-- Accept bet modal -->
<div class="modal fade" id="acceptBet" tabindex="-1" role="dialog" aria-labelledby="AcceptBet">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AcceptBet">Подтвердить ставку</h4>
            </div>
            <div class="modal-body">
                <span id="duplicateBet"></span>
                <p>Сделать ставку <input id = 'bet_amount' type="text" size="3"> $ с коэффициентом <span id="bet_od"></span>?
                </p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <a class="btn btn-success" id="accept-prop-btn">Принять</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block morejs %}

$('#acceptBet').on('show.bs.modal', function (e) {
    // remove any previous duplicate bet info
    $("#duplicateBet").html('');

    // get the bet text and place it in the modal
    var betText = $(e.relatedTarget).attr('data-id3');

    $("#bet_od").html(betText);

    // get the href link with bet id and place it in the href
    $(this).find('.btn-success').attr('href', $(e.relatedTarget).data('href'));

    // check to see if you've already accepted this bet
    var id = $(e.relatedTarget).attr('data-id4');

    $.ajax({
        url: '/bets/check_duplicate_bet/',
        type: 'POST',
        data: {id: id},
        success: function(json){
            console.log(json);
            if (json.is_duplicate == "True")
            {
                $("#duplicateBet").html('<div class="alert alert-info">' +
                    '<span class="glyphicon glyphicon-info-sign"></span>' +
                    'Вы уже делали ставку на это событие. ' +
                    'Вы уверены что хотите продолжить?</div>');
            }
        },
        error: function(){
            alert("issue with duplicate bet checking. id: " + id);
        }
    });

    $("#accept-prop-btn").one("click", function() {
    var user_od = $(e.relatedTarget).attr('title');
    var bet_amount = $("#bet_amount").val();
    
    $.ajax({
        url: '/bets/accept_prop_bet/',
        type: 'POST',
        data: {id: id,user_od: user_od, bet_amount: bet_amount},
        success:location.reload()
    });

    })


});

$('#openBets').dataTable( {
    "order": [],
    "paging": false
});

{% endblock %}
