{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
<script type="text/javascript">
    var MY_COMPLETED_BETS_JSON_URL = '{% url "bets:my_completed_bets_json" %}';
    // translations for datatables

    var dt_language = {
        "emptyTable":     "{% trans "Нет данных" %}",
        "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "{% trans "Показать _MENU_ ставок" %}",
        "loadingRecords": "{% trans "Загрузка..." %}",
        "processing":     "{% trans "Обработка..." %}",
        "search":         "{% trans "Поиск:" %}",
        "zeroRecords":    "{% trans "Не найдено записей" %}",
        "paginate": {
            "first":      "{% trans "Первая" %}",
            "last":       "{% trans "Последняя" %}",
            "next":       "{% trans "Следующая" %}",
            "previous":   "{% trans "Предудущая" %}"
        },
        "aria": {
            "sortAscending":  "{% trans ": activate to sort column ascending" %}",
            "sortDescending": "{% trans ": activate to sort column descending" %}"
        }
    }
</script>
{% endblock %}

{% block base_content %}
<div class="container">
    <h1>Мои ставки</h1>

    <div class="container">
        <h3>Ожидающие результата:</h3>
        {% if your_accepted_bets %}
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Матч</th>
                        <th>Сделанная ставка</th>
                        <th>Дата матча</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bet in your_accepted_bets %}
                    <tr>
                        <td>{{ bet.match }}</td>
                        <td>{{ bet.user_od}}</td>
                        <td>{{ bet.end_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>У вас нет открытых ставок. Вы можете сделать ставку<a href="/bets/open_bets" data-toggle="modal"> в этом разделе</a></p>
        {% endif %}
    </div>

    
{% endblock %}

{% block morejs %}
var dt_table = $('#myCompletedBets').dataTable({
    language: dt_language,  // global variable defined in html
    order: [],
    lengthMenu: [10, 25, 50, 100],
    columnDefs: [
        {
            orderable: true,
            searchable: true,
            className: "center",
            targets: [0, 1]
        },
        {
            orderable: false,
            targets: [-1, -2]
        }
    ],
    searching: true,
    processing: true,
    serverSide: true,
    stateSave: false,
    ajax: MY_COMPLETED_BETS_JSON_URL
});

$("#remove-bet-btn").one("click", function() {
    $(this).click(function () { return false; });
});

$('#removeBet').on('show.bs.modal', function (e) {
    // get the bet text and place it in the modal
    var betText = $(e.relatedTarget).attr('data-id');
    $("#betId").html(betText);

    // get the href link with bet id and place it in the href
    $(this).find('.btn-danger').attr('href', $(e.relatedTarget).data('href'));
});
{% endblock %}
