{% extends 'base.html' %}

{% block title %}Account Settings{% endblock %}

{% block base_content %}
<div class="container">
    <h2>Профиль</h2>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#user-profile">Профиль</a></li>
        <li><a data-toggle="tab" href="#user-stats">Статистика</a></li>
    </ul>
    <div class="tab-content">
        <div id="user-profile" class="tab-pane fade in active">
            <br/>
            <div "container">
                <form class="form-horizontal" id="user-profile-form" method="post" action="">
                    {% csrf_token %}
                    <fieldset>
                        {% for field in user_profile_form %}
                            {% if field.errors %}
                                <div class="control-group error">
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">
                                        {{ field }}
                                        <p class="help-inline text-danger">
                                            {% for error in  field.errors %}<strong>{{ error }}</strong>{% endfor %}
                                        </p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="control-group" id="user-profile-group">
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">
                                        {{ field }}
                                        {% if field.help_text %}
                                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                    <br/>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" >Сохранить</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="user-stats" class="tab-pane fade">
            <br/>
            <div class="container col-md-6">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td>Баланс:</td>
                            <td>
                                {% if user.userprofile.current_balance < 0 %}
                                    <font color="red">-${{ user.userprofile.current_balance|stringformat:"+d"|slice:"1:" }}</font>
                                {% elif user.userprofile.current_balance > 0 %}
                                    <font color="green">${{ user.userprofile.current_balance }}</font>
                                {% else %}
                                    ${{ user.userprofile.current_balance }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Общий выигрыш:</td>
                            <td>
                                {% if user.userprofile.overall_winnings < 0 %}
                                    <font color="red">-${{ user.userprofile.overall_winnings|stringformat:"+d"|slice:"1:" }}</font>
                                {% elif user.userprofile.overall_winnings > 0 %}
                                    <font color="green">${{ user.userprofile.overall_winnings }}</font>
                                {% else %}
                                    ${{ user.userprofile.overall_winnings }}
                                {% endif %}
                            </td>
                        <tr>
                            <td>Побед:</td>
                            <td>{{ total_won_bets }}</td>
                        </tr>
                        <tr>
                            <td>Проигрышей:</td>
                            <td>{{ total_loss_bets }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block morejs %}
$('form')
    .each(function(){
        $(this).data('serialized', $(this).serialize())
    })
    .on('change input', function(){
        $(this)
            .find('input:submit, button:submit')
                .prop('disabled', $(this).serialize() == $(this).data('serialized'))
        ;
    })
    .find('input:submit, button:submit')
        .prop('disabled', true)
;
{% endblock %}
