{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block base_content %}
<div class="container" style="max-width: 750px;">
    {% if user.is_authenticated %}
        <h3>Вы уже зашли как {{ user.get_full_name }}.</h3>
    {% else %}
        <h2>Логин</h2>
        <p>Нужен аккаут? <a href="/sign_up"><u>Зарегистрируйтесь здесь</u></a>
        <hr>
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">{{ form.non_field_errors|join:"<br \>" }}</div>
            {% endif %}

            {% for field in form %}
                {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            <p class="help-inline text-danger">
                                {% for error in  field.errors %}<strong>{{ error }}</strong>{% endfor %}
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <br/>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" >Войти</button>
            </div>
        </form>

    {% endif %}

</div>
{% endblock %}
